Django==5.0.1
djangorestframework==3.14.0
psycopg2-binary>=2.9.9
django-crispy-forms==2.3
crispy-bootstrap5==2026.3
Pillow>=11.0.0
celery==5.3.6
redis==5.0.1
django-cors-headers==4.3.1
python-dotenv==1.0.1
django-filter==24.1
openpyxl>=3.1
drf-spectacular==0.27.1
